<tr class="each-word">
  <td class="col-md-1">
    <%= index_for word_counter, @words.current_page, Settings.word.per_page %>
  </td>
  <td class="col-md-3"><%= word.category.name %></td>
  <td class="col-md-4"><%= word.content %></td>
  <td class="col-md-4">
    <%= link_to t(".info"), [:admin, word], class: "btn btn-sm btn-info fa fa-eye" %>
    <%= link_to t(".edit"), edit_admin_word_path(word), class: "btn btn-sm btn-warning fa fa-pencil" %>
    <%= link_to t(".delete"), [:admin, word], method: :delete,
      data: {confirm: t(".sure?")}, class: "btn btn-sm btn-danger fa fa-trash" %>
  </td>
</tr>
