<% provide :title, t(".all_words") %>

<h1><%= t ".all_words" %></h1>
<div class="row">
  <div class="search-row">
    <%= form_tag words_path, method: :get do %>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <%= select_tag :category_id, options_for_select(@categories.collect {|category|
            [category.name, category.id]}, params[:category_id]), class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= select_tag :status, options_for_select(
            Settings.word.filter.map{|filter| [filter.humanize, filter]},
            params[:status]), class: "form-control" %>
        </div>
        <div class="col-md-4 input-group">
          <%= text_field_tag :search, params[:search], placeholder: t(".search"),
            class: "form-control search-field" %>
          <div class="input-group-btn search-btn">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
              <span class="glyphicon glyphicon-search"></span>
              <span class="label-icon"><%= t ".search" %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th><%= t ".number" %></th>
            <th><%= t ".category" %></th>
            <th><%= t ".content" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @words %>
        </tbody>
      </table>
      <%= will_paginate %>
    </div>
  </div>
</div>
